.userprofile-container {
  padding: 0 137px;
  background: #f3f8ff;
  min-height: 75vh;

  .showcase {
    min-height: 80vh;
    padding-top: 3rem;
    padding-bottom: 2rem;

    .left-bar {
      border: 1px solid rgba(51, 51, 102, 0.5);
      border-right: none;
      padding: 0 0;

      .list-group {
        .list-group-item {
          background: transparent;
          border: none;
          transition: 0.3s ease-in-out;
        }
        .list-group-item:hover {
          padding-left: 1.8rem;
        }
      }
    }
    .right-bar {
      border: 1px solid rgba(51, 51, 102, 0.5);
    }
  }
  .is-active {
    background: #5d30db !important;
    color: #fff !important;
  }
  .top-header {
    border-bottom: 1px solid rgba(51, 51, 102, 0.5);
    min-height: 7rem;
  }
  .top-header .content-h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #333366;
  }
  .top-header .content-p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #333366;
  }
  .text-h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28.4097px;
    line-height: 39px;
    color: #333366;
  }
  .avatar-default {
    background: #333366;
  }
  .user-profile {
    .top-header {
      border-bottom: 1px solid rgba(51, 51, 102, 0.5);
      min-height: 7rem;
      .content-h1 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 35px;
        color: #333366;
      }
      .content-p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #333366;
      }
    }

    .data-form {
      width: 70%;
      margin: 5% auto;
      input {
        background: transparent;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: rgba(51, 51, 102, 0.5);
      }
      .data-submit {
        background: #5d30db;
        border-radius: 4px;
        color: white;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}
