.purchase-table {
  .purchase-history {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #333366;
  }
  .header-content {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333366;
  }
  .table th,
  .table td {
    vertical-align: middle;
  }
  .purchase-history-column {
    display: flex;
    align-items: center;
    .context {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #333366;
    }
    .all-courses-link {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #5d30db;
    }
  }

  .total-price {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #333366;
  }
  .custom-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333366;
  }

  tr.data-row {
    padding: 1rem;
  }
}
