.section-1-wrapper {
  position: relative;
  padding: $custom-size;
  background: #f3f8ff;
  &::before {
    position: absolute;
    content: '';
    top: -5%;
    right: -5%;
    width: 23%;
    height: 30%;
    background: url('~assets/images/shape1.png');
    background-repeat: no-repeat;
  }
  &::after {
    position: absolute;
    content: '';
    top: -8%;
    left: 0%;
    width: 20%;
    height: 40%;
    background: url('~assets/images/shape.png');
    background-repeat: no-repeat;
  }

  .text-h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    color: #333366;
  }
  .man-image {
    z-index: 10;
    transform: translate(-8%, -10%);
  }

  .content {
    position: relative;
    z-index: 10;
    margin-top: 6%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
  }
  .content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 304px;
    height: 261px;
    background: #ff9900;
    border-radius: 4px 80px 4px 25px;
    z-index: -1;
  }
  .content::before {
    content: '';
    position: absolute;
    top: 4%;
    left: -6%;
    width: 304px;
    height: 261px;
    background: transparent;
    border: 3px solid #333366;
    border-radius: 4px 80px 4px 25px;
    z-index: -1;
  }
  .content-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 43.7296px;
    line-height: 104.5%;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  .content-context {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 107.5%;
    color: #333366;
  }

  @media only screen and (max-width: 80em) {
    padding: 0 100px;
    .man-image {
      transform: translate(-38%, 12%) scale(0.8);
    }
  }

  @media only screen and (max-width: 61.9em) {
    .text-h1 {
      font-size: 55px;
      margin-top: 1rem;
    }
    .content-title {
      font-size: 40px;
    }
  }
  @media only screen and (min-width: 37.5em) and (max-width: 45.6em) {
    padding: 0 80px;
    .text-h1 {
      font-size: 45px;
    }
    .content-title {
      font-size: 35px;
    }
  }
  @media only screen and (max-width: 37.5em) {
    padding: 0 50px;
    .text-h1 {
      font-size: 35px;
    }
    .content-title {
      font-size: 30px;
    }
    .content-title {
      font-size: 24px;
    }
    .content {
      margin: 0;
      padding: 1rem 1rem;
    }
    .man-image {
      transform: translate(-38%, 12%) scale(0.9);
    }
  }

  @media only screen and (max-width: 27.5em) {
    .content::after {
      width: 230px;
      height: 200px;
    }

    .content::before {
      width: 230px;
      height: 200px;
    }
    .man-image {
      transform: translate(-30%, 22%) scale(0.9);
      margin-bottom: 10%;
    }
  }
}
