.section-4 {
  background: #5d30db;
  padding: 0 137px;

  .progress-google {
    background: transparent;
    width: 100%;
    height: 100%;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0%;
      top: 21%;
      left: 0;
      position: absolute;
      border-top: 8px dotted white;
      transform: rotate(-19deg) !important;
      @media only screen and (max-width: 500px) {
        transform: rotate(-36.5deg) !important;
        top: 22% !important;
        width: 100% !important;
      }
    }

    .flex-grow {
      @keyframes showUp {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.2);
        }
      }
    }
    @media only screen and (max-width: 900px) {
      &::before {
        content: '';
        position: absolute;
        width: 75%;
        height: 0%;
        top: 18%;
        left: 0;
        position: absolute;
        border-top: 6px dotted white;
        transform: rotate(-35deg);
      }
    }
  }

  .progress-google > div:nth-child(1) {
    width: 100px;
    height: 48px;
    background: #333366;
    position: relative;
    &.is-active {
      &::after {
        position: absolute;
        content: '';
        top: -110px;
        left: 7px;
        width: 100px;
        height: 100px;
        border-radius: 0;
        background: url('~assets/images/google_head.png');
        animation: showUp 1s ease-in-out alternate infinite;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &::before {
        animation: showUp 1s ease-in-out alternate infinite;
        text-shadow: 0.1rem 0.2rem 0.2rem orange;
        -webkit-text-stroke: 0.5px white;
        -webkit-text-fill-color: orange;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: -110%;
      left: 44%;
      width: 15px;
      height: 15px;
      background: orange;
      border-radius: 50%;

      @media only screen and (max-width: 900px) {
        top: -86px;
        left: 52%;
      }
    }
    &::before {
      content: 'Not Bad';
      position: absolute;
      top: -150px;
      left: 20%;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 122.5%;
      color: #e4dbff;
      @media only screen and (max-width: 900px) {
        font-size: 14px;
        top: -140px;
      }
    }
  }
  .progress-google div:nth-child(2) {
    width: 109px;
    height: 94px;
    position: relative;
    background: #33337b;
    &.is-active {
      &::after {
        border-radius: 0;
        position: absolute;
        content: '';
        top: -120px;
        left: 12px;
        width: 100px;
        height: 100px;
        background: url('~assets/images/google_head.png');
        animation: showUp 1s ease-in-out alternate infinite;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &::before {
        animation: showUp 1s ease-in-out alternate infinite;
        text-shadow: 0.1rem 0.2rem 0.2rem orange;
        -webkit-text-stroke: 0.5px white;
        -webkit-text-fill-color: orange;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: -64%;
      left: 46%;
      width: 15px;
      height: 15px;
      background: orange;
      border-radius: 50%;
      @media only screen and (max-width: 900px) {
        top: -76px;
        left: 40%;
      }
    }
    &::before {
      content: 'Good';
      position: absolute;
      top: -160px;
      left: 20%;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 122.5%;
      color: #e4dbff;
      @media only screen and (max-width: 900px) {
        font-size: 14px;
        top: -130px;
      }
    }
  }
  .progress-google div:nth-child(3) {
    width: 109px;
    height: 138px;
    background: #383897;
    position: relative;
    &.is-active {
      &::after {
        border-radius: 0;
        position: absolute;
        content: '';
        top: -120px;
        left: 12px;
        width: 100px;
        height: 100px;
        background: url('~assets/images/google_head.png');
        animation: showUp 1s ease-in-out alternate infinite;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &::before {
        animation: showUp 1s ease-in-out alternate infinite;
        text-shadow: 0.1rem 0.2rem 0.2rem orange;
        -webkit-text-stroke: 0.5px white;
        -webkit-text-fill-color: orange;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: -46%;
      left: 44%;
      width: 15px;
      height: 15px;
      background: orange;
      border-radius: 50%;
      @media only screen and (max-width: 900px) {
        top: -68px;
        left: 25%;
      }
    }
    &::before {
      content: 'Excellent';
      position: absolute;
      top: -160px;
      left: 20%;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 122.5%;
      color: #e4dbff;
      @media only screen and (max-width: 900px) {
        top: -128;
        left: 20%;
        font-size: 14px;
      }
    }
  }
  .progress-google div:nth-child(4) {
    width: 109px;
    height: 176px;
    background: #292996;
    position: relative;
    &.is-active {
      &::after {
        border-radius: 0;
        position: absolute;
        content: '';
        top: -133px;
        left: 12px;
        width: 100px;
        height: 100px;
        background: url('~assets/images/google_head.png');
        animation: showUp 1s ease-in-out alternate infinite;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &::before {
        animation: showUp 1s ease-in-out alternate infinite;
        text-shadow: 0.1rem 0.2rem 0.2rem orange;
        -webkit-text-stroke: 0.5px white;
        -webkit-text-fill-color: orange;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: -46%;
      left: 44%;
      width: 15px;
      height: 15px;
      background: orange;
      border-radius: 50%;

      @media only screen and (max-width: 900px) {
        top: -78px;
        left: 35%;
      }
    }
    &::before {
      content: 'Awesome';
      position: absolute;
      top: -160px;
      left: 20%;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 122.5%;
      color: #e4dbff;
      @media only screen and (max-width: 900px) {
        font-size: 14px;
        left: 0;
      }
    }
  }
  .progress-google div:nth-child(5) {
    width: 115px;
    height: 230px;
    background: #202084;
    position: relative;
    &.is-active {
      &::after {
        border-radius: 0;
        position: absolute;
        content: '';
        top: -115px;
        left: 0;
        width: 100%;
        height: 100px;
        background: url('~assets/images/google_head.png');
        animation: showUp 1s ease-in-out alternate infinite;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &::before {
        animation: showUp 1s ease-in-out alternate infinite;
        text-shadow: 0.1rem 0.2rem 0.2rem orange;
        -webkit-text-stroke: 0.5px white;
        -webkit-text-fill-color: orange;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: -78px;
      left: 40%;
      width: 15px;
      height: 15px;
      background: orange;
      border-radius: 50%;

      @media only screen and (max-width: 900px) {
        top: -78px;
        left: 35%;
      }
    }
  }

  .row .col-md-4 {
    color: $white;
  }
  .text-h1 {
    font-family: $sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 122.5%;
    color: #ffc700;
  }
  .text-h2 {
    font-family: $sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 122.5%;
    color: $white;
  }
  .text-paragraph {
    font-family: $sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 122.5%;
    color: $white;
  }
  .btn-quiz {
    background: $orange;
    border-radius: 3px;
    height: 45px;
    color: $white;
    outline: none;
    &:hover {
      color: $orange;
      background: $white;
      transition: all 0.2s linear;
      transform: translateY(-3px);
    }
    &:active {
      transform: translateY(0px);
    }
  }
  .google-image-wrap {
    width: 204px;
    height: 214px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      background-image: url('~assets/images/vector.png');
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
    .activeImage {
      position: absolute;
      right: -5%;
      bottom: 50%;
      width: 8rem;
      height: 8rem;
      background: url('~assets/images/google_head.png');
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
    }
  }
}

@media only screen and (max-width: 900px) {
  .section-4 {
    padding: 0 1rem;
    .row .col-md-4 {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .btn-quiz {
      width: 70%;
      margin: auto;
    }
    .google-image {
      width: 100px !important;
      height: 100px !important;
    }
    .progress-google > div:nth-child(1) {
      width: 60px;
      height: 48px;
      background: #333366;
    }
    .progress-google div:nth-child(2) {
      width: 60px;
      height: 94px;
      background: #33337b;
    }
    .progress-google div:nth-child(3) {
      width: 60px;
      height: 138px;
      background: #383897;
    }
    .progress-google div:nth-child(4) {
      width: 60px;
      height: 176px;
      background: #292996;
    }
    .progress-google div:nth-child(5) {
      width: 90px;
      height: 230px;
      background: #202084;
    }
  }
}

@media only screen and (max-width: 500px) {
  .section-4 {
    padding: 0 0;

    .google-image {
      width: 60px !important;
      height: 60px !important;
    }

    .progress-google > div:nth-child(1) {
      width: 60px;
      height: 48px;
      background: #333366;
    }
    .progress-google div:nth-child(2) {
      width: 60px;
      height: 94px;
      background: #33337b;
    }
    .progress-google div:nth-child(3) {
      width: 60px;
      height: 138px;
      background: #383897;
    }
    .progress-google div:nth-child(4) {
      width: 60px;
      height: 176px;
      background: #292996;
    }
    .progress-google div:nth-child(5) {
      width: 90px;
      height: 230px;
      background: #202084;
    }
  }
}
