.section-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  padding-right: 137px;
  padding-left: 137px;
  .cart {
    padding: 1.5rem 1.5rem;
    transition: all 0.2s ease;
  }
  .text-h1 {
    font-family: $sans;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
    color: $dark_blue;
  }
  .text-h2 {
    font-family: $sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: $dark_blue;
  }
  .text-paragraph {
    font-family: $sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
  }
  .btn-know-more {
    background: $light_blue;
    border-radius: 4px;
    font-family: $sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $background;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .section-5 {
    padding: 3rem 3rem;
  }
}
