@import 'abstracts/variables';
@import 'components/progressCircle/progressCircle';

@import 'components/aboutPage/instructorsHead';
@import 'components/aboutPage/partners';
@import 'components/aboutPage/promo';

@import 'components/chart/chart';

@import 'components/contact-us/contact-us';
@import 'components/contact-us/contactForm';
@import 'components/contact-us/contactMap';

@import 'components/controlFields/button';
@import 'components/controlFields/input';

@import 'components/coursesPage/allCourses';
@import 'components/coursesPage/description';
@import 'components/coursesPage/introduction';
@import 'components/coursesPage/promoVideo';

@import 'components/forms/forms';

@import 'components/instructorApplication/instructorApplication';

@import 'components/instructorPage/instructorMainPage';
@import 'components/instructorPage/coursesAll';
@import 'components/instructorPage/coursesLandingPage';
@import 'components/instructorPage/coursesPerformance';
@import 'components/instructorPage/coursesSingle';
@import 'components/instructorPage/coursesTools';

@import 'components/instructors/instructorContent';
@import 'components/instructors/instructorHeader';
@import 'components/instructors/instructorProcess';

@import 'components/pricing/pricing';

@import 'responsive/responsiveAllCoursesPage';
@import 'responsive/responsiveAboutPage';
@import 'responsive/responsiveContactPage';
@import 'responsive/responsiveApplicationForms';
@import 'responsive/responsiveCoursesPage';
@import 'responsive/responsiveInstructorsPage';
@import 'responsive/responsivePricing';
@import 'responsive/responsivePurchaseHistoryPage';
@import 'responsive/myLearning';
@import 'responsive/responsiveUserAccount';
@import 'responsive/myCart';
@import 'responsive/notification';
@import 'responsive/userProfile';
@import 'responsive/section-7';

@import 'components/homePage/section-1';
@import 'components/homePage/section-2';
@import 'components/homePage/section-3';
@import 'components/homePage/section-4';
@import 'components/homePage/section-5';
@import 'components/homePage/section-6';
@import 'components/homePage/section-7';
@import 'components/homePage/app-footer';
@import 'components/homePage/navbar-bottom';
@import 'components/homePage/appNavbar';

@import 'components/userAccount/myLearningSingle';
@import 'components/userAccount/purchaseTable';
@import 'components/userAccount/notification';

@import 'components/userProfile/profile';
@import 'responsive/section-4';

