.partners {
  padding: 2rem 6rem;
  &__box {
    margin: 2rem 3rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    height: 100%;
  }

  & h1 {
    font-family: $sans;
    font-size: 4.5rem;
    color: $light_blue;
    font-weight: 700;
    margin-left: 2.5rem;
  }

  &__column__margin {
    padding: 0;
    margin: 0;
  }

  &__btn {
    &,
    &:link,
    &:visited {
      padding: 0.5rem 1rem;
      background-color: $light_blue;
      color: white;
      border-radius: 5px;
      font-weight: 600;
      font-size: 20px;
      text-decoration: none;
      transition: all 0.2s;
    }

    &:hover {
      background-color: $blue_tertiary;
      transform: translateY(-0.3rem);
      box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
    }

    &:active {
      transform: translateY(-0.1rem);
    }
  }
}
