.landPage {
  &__container {
    height: 100%;
    padding: 3rem;
    background-color: $background;
  }

  &__box {
    background-color: #dae6eb;
    padding: 1rem 2rem;
    border: 1px solid #b6c2c7;
    border-radius: 2px;
  }

  &__label {
    font-weight: 600;
    font-size: 1.3rem;
    color: $dark_blue;
  }

  &__input {
    margin-bottom: 0.7rem;
  }

  &__btn {
    display: flex;
    justify-content: flex-end !important;
  }

  &__group {
    margin-bottom: 1rem;
  }

  &__progress__box {
    position: relative;

    & .custom-file-label {
      &::after {
        content: '';
        text-align: center;
        width: 7rem;
      }
    }
  }

  &__progress {
    width: 7rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: none;
  }
  &__progress__show {
    display: block;
  }
}

.ant-progress-inner {
  border-radius: 0 4px 4px 0 !important;
}

.ant-progress-bg {
  border-radius: 0 4px 4px 0 !important;
}
