@media only screen and (max-width: 600px) {
  .my-learning {
    padding: 0;
    .app-header {
      padding: 1rem 0.5rem;
      margin: 0;
    }
    .nav-content {
      margin: 1rem auto;
      & nav {
        margin: 1rem auto;
      }
    }

    .learning-cart {
      .ul-list {
        margin: 0.8rem auto 1.2rem auto;
      }
    }
  }
}
