@media only screen and (max-width: 600px) {
  .purchase-table {
    .purchase-history {
      font-weight: bold;
      font-size: 14px !important;
      line-height: 20px !important;
    }
    .header-content {
      font-size: 14px !important;
      line-height: 18px !important;
    }

    .purchase-history-column {
      .context {
        font-size: 14px !important;
        line-height: 20px !important;
      }
      .all-courses-link {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px !important;
        line-height: 20px !important;
      }

      .img-korzinka {
        display: none;
      }
    }
  }
}
