@media only screen and (max-width: 75em) {
  .pricing {
    &__content {
      padding: 1.25rem 1.5rem;
    }

    &__price {
      padding: 1.25rem 1.5rem;
    }
  }
}
@media only screen and (max-width: 62em) {
  .pricing {
    &__row {
      margin-bottom: 1rem;
    }

    &__box {
      justify-content: center;
      margin-bottom: 3rem;
    }

    &__active__card {
      transform: scale(1);
    }

    &__content {
      font-size: 22.9687px;
      padding: 1.25rem 3.875rem;
    }

    &__price {
      font-size: 21px;
      padding: 1.25rem 3.875rem;
    }

    &__price span:nth-child(1) {
      position: absolute;
      top: 16%;
      left: 26%;
    }
  }
}

@media only screen and (max-width: 37.5em) {
  .pricing {
    &__box {
      padding: 0 1rem;
      margin-bottom: 1rem;
    }
    &__box h1 {
      font-size: 2.5rem;
    }

    &__content {
      font-size: 22.9687px;
      padding: 1.25rem 2rem;
    }

    &__price {
      font-size: 21px;
      padding: 1.25rem 2rem;
    }
  }
}
@media only screen and (max-width: 25em) {
  .pricing {
    &__tarif {
      font-size: 1.3rem;
    }

    &__content {
      font-size: 1.2rem;
      padding: 0.25rem 1rem;
    }

    &__price {
      font-size: 1.2rem;
      padding: 0.25rem 1rem;
    }

    &__price span:nth-child(1) {
      top: 10%;
      left: 17%;
    }
    &__price span:nth-child(2) {
      font-size: 60px;
    }

    &__button,
    &__button:link,
    &__button:visited {
      font-size: 0.9rem;
      margin-bottom: 2.5rem;
    }
  }
}
